<div id="recoverpasswordbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-info" >
		<div class="panel-heading">
			<div class="panel-title">Change your password</div>
		</div>

		<div style="padding-top:30px" class="panel-body" >
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :put, class: "form-horizontal", role: "form"}) do |f| %>
				<%= f.hidden_field :reset_password_token %>

				<div class="form-group">
					<label for="user_password" class="col-md-3 control-label">Password</label>
					<div class="col-md-9">
						<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password", required: true %>
					</div>
				</div>

				<div class="form-group">
					<label for="user_password_confirmation" class="col-md-3 control-label">Confirm Password</label>
					<div class="col-md-9">
						<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm Password", required: true %>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-offset-3 col-md-9">
						<%= f.submit "Change my password", class: "btn btn-info" %>
					</div>
				</div>

			<% end %>
		</div>
	</div>
</div>

