<br /><br /><br /><br /><br /><br /><br />
<div class="span6 offset2 well">
	<h2 class="text-center">Welcome to Kristy's Car Dealership!</h2>
	<br />
	<% if current_user %>
		<p class="text-center">More Features coming soon!!</p>
	<% else %>
		<p class="text-center">You can register clicking <b>Signup</b> button. If you are already an existing user, you can login by clicking <b>Login</b> button.</p>
	<% end %>
</div>